﻿@model SoftverZaHladnjacu.Domain.OtpremnicaBO

@{
    ViewBag.Title = "Create";
}

@{
    if (ViewBag.MessageF != null && ViewBag.MessageF != "")
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.MessageF
        </div>
    }
}

<h2>Nova otpremnica</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Unesite podatke o otpremnici</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.PoslovniPartner, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PoslovniPartner.Id, new SelectList(ViewBag.Kupci, "Id", "Prikaz"), "Odaberite kupca", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PoslovniPartner.Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="col-md-12">
                <input type="submit" value="Kreiraj otpremnicu" class="btn btn-success" />
            </div>
        </div>
    </div>
    <br />
    <h4>Unesite stavke otpremnice</h4>
    <hr />

    <div id="listaStavki" class="col-md-12">

        <div class="form-group col-md-12 row" id="stavka-0">
            <div class="col-md-1">
                <div id="sign[0]"></div>
            </div>
            <div class="col-md-1">
                <input type="text" name="rb" id="rb[0]" class="form-control" value="1" readonly />
            </div>
            <div class="col-md-4">
                <input type="text" name="pakovanje" id="pakovanje[0]" class="form-control" onkeyup="CheckId(this.id, this.value)" autocomplete="off" />
            </div>
            <div class="col-md-1">
                <input type="button" id="addBtn[0]" class="btn btn-default" name="add-button" value="+" onclick="AddNewRow()" />
            </div>
        </div>

        <div class="form-group col-md-12 row" id="stavka-1">
        </div>
        <p style="color:green; font-size: 2rem"></p>
    </div>
</div>
}

<div>
    @Html.ActionLink("Nazad na listu", "Index")
</div>

<script type="text/javascript">

    function CheckId(id_input, id_pakovanje) {
        var IdPakovanja = id_pakovanje;
        var first_parent = document.getElementById(id_input).parentElement;
        var second_parent = first_parent.parentElement;
        var sign_div = second_parent.querySelector('*[id^="sign"]');
        let exists = '<p style="color:green; font-size: 2rem">&#9745</p>';
        let not = '<p style="color:red; font-size: 2rem">&#9746</p>';
        if (IdPakovanja === "") {
            IdPakovanja = 0;
        }
        $.ajax({
            url: '@Url.Action("CheckId", "Pakovanje")',
            data: { id: IdPakovanja },
            success: function (result) {
                if (result == 1) {
                    sign_div.innerHTML = exists;
                }
                else {
                    sign_div.innerHTML = not;
                }
             }
        });
    }

    function RemoveButtons() {
        let buttons = document.querySelectorAll('*[id^="addBtn"]');
        buttons.forEach(button => {
            button.setAttribute('style', 'display: none');
        });
    }

    function HighestRowCount() {
        let rows = document.querySelectorAll('*[id^="stavka"]');
        let key = rows.length;
        return { 'key': key, 'last_placeholder': rows[key - 1] };
    }

    function AddNewRow() {
        let lastRow = HighestRowCount();
        let i = lastRow.key - 1;
        let rb = i + 1;
        let row = '<div class="col-md-1"><div id="sign[' + i + ']"></div></div><div class="col-md-1"><input type="text" name="rb" id="rb[' + i + ']" class="form-control" value="' + rb + '" readonly /></div>' + '<div class="col-md-4"><input type="text" name="pakovanje" id="pakovanje[' + i + ']" class="form-control" onkeyup="CheckId(this.id, this.value)" autocomplete="off" /></div>' + '<div class="col-md-1"><input type="button" class="btn btn-default" id="addBtn[' + i + ']" name="add-button" value="+" onclick="AddNewRow()" /></div>';
        let newRow = document.createElement('div');
        newRow.setAttribute('id', 'stavka-' + lastRow.key);
        newRow.setAttribute('class', 'form-group col-md-12 row');
        RemoveButtons();
        lastRow.last_placeholder.innerHTML = row;
        document.getElementById('listaStavki').appendChild(newRow);
    }
</script>
