﻿@model SoftverZaHladnjacu.Domain.OtpremnicaBO

@{
    ViewBag.Title = "Details";
}

<h2>Detalji otpremnice</h2>

<div>
    <h4>Otpremnica broj @Model.Id</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumStorniranja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumStorniranja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoslovniPartner.Prikaz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoslovniPartner.Prikaz)
        </dd>
    </dl>
</div>

<h4>Stavke otpremnice</h4>
<hr />
<table class="table">
    <tr>
        <th>Redni broj</th>
        <th>Šifra pakovanja</th>
        <th>Datum pakovanja</th>
        <th>Kolicina</th>
        <th>Klasa</th>
        <th>Sorta</th>
    </tr>
    @foreach (var stavka in Model.ListaStavki)
    {
        <tr>
            <td>@stavka.Rb</td>
            <td>@stavka.IdPakovanje</td>
            <td>@stavka.Pakovanje.DatumPakovanja.ToShortDateString()</td>
            <td>@stavka.Pakovanje.Kolicina</td>
            <td>@stavka.Pakovanje.Klasa.Naziv</td>
            <td>@stavka.Pakovanje.Prijemnica.Sorta.Prikaz</td>
        </tr>
    }
</table>

<br />

<p>
    @Html.ActionLink("Nazad na listu", "Index")
</p>
