﻿@model SoftverZaHladnjacu.Domain.OtpremnicaBO

@{
    ViewBag.Title = "Index";
}

@{
    if (ViewBag.MessageS != null && ViewBag.MessageS != "")
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.MessageS
        </div>
    }
    if (ViewBag.MessageF != null && ViewBag.MessageF != "")
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.MessageF
        </div>
    }
}

<h2>Rad sa otpremnicama</h2>

<hr />

<div class="col-md-12">
    <div class="col-md-3">
        <div class="form-group">
            <label for="idOtpremnica">Broj otpremnice:</label>
            <input type="text" class="form-control" id="idOtpremnica" placeholder="Unesite broj otpremnice" onkeyup="OnIdTyped(this.value)">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="btnAll" class="control-label" style="color:transparent;">A</label>
            <button class="btn btn-warning" type="button" onclick="ShowAll()" id="btnAll" style="width: 100%;">Prikaži sve</button>
        </div>
    </div>
</div>
<div class="col-md-12" id="otpremnice">
    @{ Html.RenderAction("GetAllOtpremnicas", "Otpremnica", new { id = 0 });}
</div>

<script type="text/javascript">
    function ShowAll() {
        $.ajax({
                url: '@Url.Action("GetAllOtpremnicas", "Otpremnica")',
                success: function (result) {
                    $('#otpremnice').html(result);
                }
            });
    }

    function OnIdTyped(id_otpremnica) {
        var IdOtpremnice = id_otpremnica
        if (IdOtpremnice === "") {
            IdOtpremnice = 0;
            }
            $.ajax({
                url: '@Url.Action("GetOtpremnicasById", "Otpremnica")',
                data: { id: IdOtpremnice },
                success: function (result) {
                    $('#otpremnice').html(result);
                }
            });
    }
</script>

