﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        footer {
            position: fixed;
            left: 2rem;
            right: 2rem;
            bottom: 0;
            text-align: right;
            background-color: #fff;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Početna strana", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Prijem voća</a>
                            <div class="dropdown-menu">
                                <ul class="nav">
                                    <li>@Html.ActionLink("Nova prijemnica", "Create", "Prijemnica")</li>
                                    <li>@Html.ActionLink("Pretraga i skladištenje", "Index", "Prijemnica")</li>
                                </ul>
                            </div>
                        </li>
                        <li>@Html.ActionLink("Pretraga pakovanja", "Index", "Pakovanje")</li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Izdavanje voća</a>
                            <div class="dropdown-menu">
                                <ul class="nav">
                                    <li>@Html.ActionLink("Nova otpremnica", "Create", "Otpremnica")</li>
                                    <li>@Html.ActionLink("Rad sa otpremnicama", "Index", "Otpremnica")</li>
                                </ul>
                            </div>
                        </li>
                        if (User.IsInRole("Manager"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Rad sa hladnjačama</a>
                                <div class="dropdown-menu">
                                    <ul class="nav">
                                        <li>@Html.ActionLink("Dodaj novu hladnjaču", "Create", "Hladnjaca")</li>
                                        <li>@Html.ActionLink("Izmeni postojeću hladnjaču", "Index", "Hladnjaca")</li>
                                    </ul>
                                </div>
                            </li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div class="col-md-12" style="height: 100px;"></div>
        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year - Marijana Banduka</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
