﻿@model IEnumerable<SoftverZaHladnjacu.Domain.HladnjacaBO>

<p>
    @Html.ActionLink("Kreiraj novu", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kapacitet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aktivna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipHladnjace.Naziv) Tipa
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Naziv)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Kapacitet)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Aktivna)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TipHladnjace.Naziv)
    </td>
    <td>
        @Html.ActionLink("Izmeni", "Edit", new { id = item.Id })
    </td>
</tr>
}

</table>
