﻿@model IEnumerable<SoftverZaHladnjacu.Domain.OtpremnicaBO>

<p>
    @Html.ActionLink("Kreiraj novu", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PoslovniPartner.Naziv) kupca
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserBO.Ime) radnika
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumStorniranja)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Datum)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PoslovniPartner.Naziv)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserBO.Ime) @Html.DisplayFor(modelItem => item.UserBO.Prezime)
    </td>
    <td>
        @if (item.DatumStorniranja == null)
            {
                @Html.ActionLink("Storniraj", "Edit", new { id = item.Id })
            }
            else
            {
                @Html.DisplayFor(modelItem => item.DatumStorniranja)
            }
    </td>
    <td>
        @Html.ActionLink("Detalji", "Details", new {id = item.Id})
    </td>
</tr>
}

</table>
