﻿@model IEnumerable<SoftverZaHladnjacu.Domain.PakovanjeBO>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hladnjaca.Naziv) hladnjače
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kolicina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prijemnica.Sorta.Naziv) sorte
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Klasa.Naziv) klase
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prijemnica.Id) prijemnice
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumPakovanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserBO.Ime) radnika
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumIzdavanja)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Hladnjaca.Naziv)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Kolicina)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Prijemnica.Sorta.Naziv)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Klasa.Naziv)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Prijemnica.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DatumPakovanja)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserBO.Ime) @Html.DisplayFor(modelItem => item.UserBO.Prezime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DatumIzdavanja)
    </td>
</tr>
}

</table>
