﻿@model IEnumerable<SoftverZaHladnjacu.Domain.PrijemnicaBO>

<p>
    @Html.ActionLink("Kreiraj novu", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumPrijema)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hladnjaca.Naziv) hladnjače
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kolicina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sorta.Naziv) sorte
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PoslovniPartner.Naziv) poslovnog partnera
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumPakovanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkladisniKalo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserBO.Ime) radnika
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DatumPrijema)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Hladnjaca.Naziv)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Kolicina)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Sorta.Naziv)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PoslovniPartner.Naziv) - @Html.DisplayFor(modelItem => item.PoslovniPartner.Adresa)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DatumPakovanja)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SkladisniKalo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserBO.Ime) @Html.DisplayFor(modelItem => item.UserBO.Prezime)
    </td>
    <td>
        @if (item.DatumPakovanja == null)
        {
            @Html.ActionLink("Skladišti", "../Pakovanje/Create", new { id = item.Id })
        }
    </td>
</tr>
}

</table>
