﻿@model SoftverZaHladnjacu.Domain.PakovanjeBO

@{
    ViewBag.Title = "Create";
    int id_prijemnice = ViewBag.Prijemnica.Id;
    string dobavljac = ViewBag.Prijemnica.PoslovniPartner.Naziv;
    double kolicina = ViewBag.Prijemnica.Kolicina;
    double skladisniKalo = ViewBag.Prijemnica.SkladisniKalo;
    DateTime date = ViewBag.Prijemnica.DatumPrijema;
    string dateS = date.ToShortDateString();


}

<form>
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Podaci o prijemnici:</h4>
        <hr />
        <div class="row">
            <div class="form-group col-md-1">
            </div>

            <div class="form-group col-md-2">
                <label class="control-label col-md-12" for="datumPrijema">Datum prijema</label>
                <div class="col-md-12">
                    <input type="text" id="datumPrijema" name="DatumPrijema" class="form-control" value="@dateS" readonly />
                </div>
            </div>

            <div class="form-group col-md-3">
                <label class="control-label col-md-12" for="dobavljac">Dobavljač</label>
                <div class="col-md-12">
                    <input type="text" id="dobavljac" name="PoslovniPartner" class="form-control" value="@dobavljac" readonly />
                </div>
            </div>

            <div class="form-group col-md-2">
                <label class="control-label col-md-12" for="kolicinaPrijemnica">Količina</label>
                <div class="col-md-12">
                    <input type="text" id="kolicinaPrijemnica" name="KolicinaPrijemnica" class="form-control" value="@kolicina" readonly />
                </div>
            </div>

            <div class="form-group col-md-2">
                <label class="control-label col-md-12" for="skladisniKalo">Skladišni kalo</label>
                <div class="col-md-12">
                    <input type="text" id="skladisniKalo" name="SkladisniKalo" class="form-control" value="@skladisniKalo" readonly />
                </div>
            </div>

            <div class="form-group col-md-2">
                <div class="col-md-12">
                    <label for="btnSavePrijemnica" class="control-label" style="color:transparent;">A</label>
                    <button type="button" class="btn btn-default" onclick="SavePrijemnica(@id_prijemnice)" id="btnSavePrijemnica">Sačuvaj prijemnicu</button>
                </div>
            </div>
        </div>
    </div>
</form>

<h2>Kreiranje pakovanja</h2>

@{
    if (ViewBag.MessageS != null && ViewBag.MessageS != "")
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.MessageS
        </div>
    }
    if (ViewBag.MessageF != null && ViewBag.MessageF != "")
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.MessageF
        </div>
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Novo pakovanje:</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Klasa.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Klasa.Id, new SelectList(ViewBag.Klase, "Id", "Naziv"), "Odaberite klasu", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Klasa.Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kolicina, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kolicina, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Kolicina, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hladnjaca.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Hladnjaca.Id, new SelectList(ViewBag.Hladnjace, "Id", "Prikaz"), "Odaberite hladnjaču", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Hladnjaca.Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kreiraj pakovanje" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Nazad na listu", "../Prijemnica/Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    function SavePrijemnica(id) {
        $.ajax({
            url: '@Url.Action("Edit", "Prijemnica")',
            type: "post",
            data: { id: id },
            success: function (result) {
                $('body').html(result);
            }
        });
    }
</script>