﻿@model SoftverZaHladnjacu.Domain.PakovanjeBO

@{
    ViewBag.Title = "Index";
}

<h2>Pretraga pakovanja u glavnoj hladnjači</h2>
<hr />
<div class="row">
    <div class="col-md-12 row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="idPrijemnica">Naziv hladnjače:</label>
                @Html.DropDownList("Hladnjace", new SelectList(ViewBag.Hladnjace, "Id", "Naziv"), "Odaberite hladnjaču", new { @class = "col-md-3 form-control", @onchange = "OnSelectedHladnjaca(this.value)" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="datePrijemnica">Klasa voća:</label>
                @Html.DropDownList("Klase", new SelectList(ViewBag.Klase, "Id", "Naziv"), "Odaberite klasu", new { @class = "col-md-3 form-control", @onchange = "OnSelectedKlasa(this.value)" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="Sorte" class="control-label">Sorta voća:</label>
                @Html.DropDownList("Sorte", new SelectList(ViewBag.Sorte, "Id", "Prikaz"), "Odaberite sortu", new { @class = "col-md-3 form-control", @onchange = "OnSelectedSorta(this.value)" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="btnAll" class="control-label" style="color:transparent;">A</label>
                <button class="btn btn-warning" type="button" onclick="ShowAll()" id="btnAll" style="width: 100%;">Prikaži sve</button>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="col-md-12" id="pakovanja">
    @{ Html.RenderAction("GetPakovanja", "Pakovanje", new { id = 0 });}
</div>

<script type="text/javascript">
    function ShowAll() {
        $.ajax({
                url: '@Url.Action("GetPakovanja", "Pakovanje")',
                success: function (result) {
                    $('#pakovanja').html(result);
                }
            });
    }
    function OnSelectedHladnjaca(id_hladnjace) {
            var IdHladnjaca = id_hladnjace
            if (IdHladnjaca === "") {
                IdHladnjaca = 0;
            }
            $.ajax({
                url: '@Url.Action("GetPakovanjaByHladnjaca", "Pakovanje")',
                data: { id: IdHladnjaca },
                success: function (result) {
                    $('#pakovanja').html(result);
                }
            });
    }
    function OnSelectedKlasa(id_klase) {
        var IdKlasa = id_klase
            if (IdKlasa === "") {
                IdKlasa = 0;
            }
            $.ajax({
                url: '@Url.Action("GetPakovanjaByKlasa", "Pakovanje")',
                data: { id: IdKlasa },
                success: function (result) {
                    $('#pakovanja').html(result);
                }
            });
    }
    function OnSelectedSorta(id_sorta) {
        var IdSorta = id_sorta
        if (IdSorta === "") {
            IdSorta = 0;
            }
            $.ajax({
                url: '@Url.Action("GetPakovanjaBySorta", "Pakovanje")',
                data: { id: IdSorta },
                success: function (result) {
                    $('#pakovanja').html(result);
                }
            });
    }
</script>

