﻿@model SoftverZaHladnjacu.Domain.PrijemnicaBO

@{
    ViewBag.Title = "Create";
}

@{
    if (ViewBag.MessageS != null && ViewBag.MessageS != "")
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.MessageS
        </div>
    }
    if (ViewBag.MessageF != null && ViewBag.MessageF != "")
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.MessageF
        </div>
    }
}

<h2>Prijem</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Nova Prijemnica</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Hladnjaca.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Hladnjaca.Id, new SelectList(ViewBag.Hladnjace, "Id", "Prikaz"), "Odaberite hladnjaču", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Hladnjaca.Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PoslovniPartner, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PoslovniPartner.Id, new SelectList(ViewBag.Dobavljaci, "Id", "Prikaz"), "Odaberite dobavljača", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PoslovniPartner.Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sorta.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Sorta.Id, new SelectList(ViewBag.Sorte, "Id", "Prikaz"), "Odaberite sortu", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Sorta.Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kolicina, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Kolicina, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Kolicina, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <label for="Kolicina" class="control-label">kilograma</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sačuvaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Nazad na listu", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
