﻿@model SoftverZaHladnjacu.Domain.PrijemnicaBO

@{
    ViewBag.Title = "Index";
}

@{
    if (ViewBag.MessageS != null && ViewBag.MessageS != "")
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.MessageS
        </div>
    }
    if (ViewBag.MessageF != null && ViewBag.MessageF != "")
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.MessageF
        </div>
    }
}

<h2>Rad sa prijemnicama</h2>
<hr />
<div class="row">
    <div class="col-md-12 row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="idPrijemnica">Broj prijemnice:</label>
                <input type="text" class="form-control" id="idPrijemnica" placeholder="Unesite broj prijemnice" onkeyup="OnIdTyped(this.value)">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="datePrijemnica">Datum prijema:</label>
                <input type="date" class="form-control" id="datePrijemnica" onchange="OnSelectedDate(this.value)">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="Sorte" class="control-label">Sorta voća:</label>
                @Html.DropDownList("Sorte", new SelectList(ViewBag.Sorte, "Id", "Prikaz"), "Odaberite sortu", new { @class = "col-md-3 form-control", @onchange = "OnSelectedSorta(this.value)" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="btnAll" class="control-label" style="color:transparent;">A</label>
                <button class="btn btn-warning" type="button" onclick="ShowAll()" id="btnAll" style="width: 100%;">Prikaži aktuelne</button>
            </div>
        </div>
    </div>

    <div class="col-md-12" id="prijemnice">
        @{ Html.RenderAction("GetPrijemnicasToBeStored", "Prijemnica", new { id = 0 });}
    </div>
</div>

<script type="text/javascript">
    function ShowAll() {
         $.ajax({
                url: '@Url.Action("GetPrijemnicasToBeStored", "Prijemnica")',
                success: function (result) {
                    $('#prijemnice').html(result);
                }
         });
    }
    function OnIdTyped(id_prijemnica) {
         var IdPrijemnice = id_prijemnica
         if (IdPrijemnice === "") {
                IdPrijemnice = 0;
         }
            $.ajax({
                url: '@Url.Action("GetPrijemnicasById", "Prijemnica")',
                data: { id: IdPrijemnice },
                success: function (result) {
                    $('#prijemnice').html(result);
                }
            });
    }
    function OnSelectedDate(date) {
        var selectedDate = date
        if (selectedDate === "") {
            selectedDate = 0;
            }
            $.ajax({
                url: '@Url.Action("GetPrijemnicasByDate", "Prijemnica")',
                data: { date: selectedDate },
                success: function (result) {
                    $('#prijemnice').html(result);
                }
            });
    }

    function OnSelectedSorta(id_sorta) {
        var IdSorta = id_sorta
        if (IdSorta === "") {
            IdSorta = 0;
            }
            $.ajax({
                url: '@Url.Action("GetPrijemnicasBySorta", "Prijemnica")',
                data: { id: IdSorta },
                success: function (result) {
                    $('#prijemnice').html(result);
                }
            });
    }
</script>

