﻿@model SoftverZaHladnjacu.Domain.HladnjacaBO

@{
    ViewBag.Title = "Create";
}

@{
    if (ViewBag.MessageF != null && ViewBag.MessageF != "")
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.MessageF
        </div>
    }
}

<h2>Kreiranje hladnjače</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Unesite podatke o novoj hladnjači</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Naziv, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Naziv, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Naziv, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kapacitet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Kapacitet, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Kapacitet, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <label for="Kapacitet" class="control-label">kilograma</label>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdTipHladnjace, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdTipHladnjace, new SelectList(ViewBag.Tipovi, "Id", "Naziv"), "Odaberite tip", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdTipHladnjace, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Aktivna, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Aktivna, new { htmlAttributes = new { @class = "form-control", @min = "0", @max = "1" } })
                @Html.ValidationMessageFor(model => model.Aktivna, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <label for="Aktivna" class="control-label">0-Neaktivna 1-Aktivna</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sačuvaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Nazad na listu", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
