﻿@model IEnumerable<SoftverZaHladnjacu.Domain.HladnjacaBO>

@{
    ViewBag.Title = "Index";
}


@{
    if (ViewBag.MessageS != null && ViewBag.MessageS != "")
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.MessageS
        </div>
    }
    if (ViewBag.MessageF != null && ViewBag.MessageF != "")
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.MessageF
        </div>
    }
}

<h2>Prikaz svih hladnjača</h2>
<hr />
@{
    Html.RenderAction("GetAllHladnjacas", "Hladnjaca");
}

